CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
CMakeLists.txt.user

*.o
*.ko
*.obj
*.elf

*.gch
*.pch

*.lib
*.a
*.la
*.lo

*.dll
*.so
*.so.*
*.dylib

*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

*.dSYM/
*.su

*.slo
*.lai
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
build-*

.autosave

*.qmlproject.user
*.qmlproject.user.*

*.mod
*.smod

